<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <title> Stripe Subscription </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
            body {
                font-family: 'arial';
            }
            #checkout-form input,
            #checkout-form button {
                display: block;
                margin: 0px;
            }


    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content-wrapper">
    <div class="container">
        <form action='/stripe/charge' method='POST' id='checkout-form'>
            <div class="box-body">
                <div class="row col-md-12">
                    <h2> Stripe Subscription </h2> <br/>
                    <input type='hidden' th:value='${amount}' name='amount'/>
                    <label> <h3> Price: <span th:text='${amount/100}'/></h3></label>
                    <script
                            src='https://checkout.stripe.com/checkout.js'
                            class='stripe-button'
                            th:attr='data-key=${stripePublicKey},
                         data-amount=${amount},
                         data-currency=${currency}'
                            data-name='Stripe Payment'
                            data-description='Spring course checkout'
                            data-locale='auto'
                            data-zip-code='false'>
                    </script>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
